@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AppleGaramond';
    src: url(/AppleGaramond.ttf);
}

@font-face {
    font-family: 'CooperFive';
    src: url(/CooperFiveOpti-Black.otf);
}

@font-face {
    font-family: 'TTnorms';
    src: url(/TTNorms-Regular.otf);
}

@font-face {
    font-family: 'Teko-Regular';
    src: url(/Teko-Regular.ttf);
}

@media (min-width: 748px) {
    html, body, #root {
        height: 100%
    }
}

.card {
    @apply sm:w-1/2 md:w-2/5 3xl:w-1/4 p-6 md:p-12 m-6 bg-gray-50 rounded-lg overflow-hidden shadow-lg transition-all duration-300 ease-in-out hover:shadow-xl hover:scale-105;
}

.skill {
    @apply transform transition-transform duration-300 ease-in-out lg:hover:scale-125 lg:hover:-translate-y-1;
}

