@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AppleGaramond';
    src: url(/AppleGaramond.ttf);
}

@font-face {
    font-family: 'CooperFive';
    src: url(/CooperFiveOpti-Black.otf);
}

@font-face {
    font-family: 'TTnorms';
    src: url(/TTNorms-Regular.otf);
}

@font-face {
    font-family: 'Teko-Regular';
    src: url(/Teko-Regular.ttf);
}

@media (min-width: 748px) {
    html, body, #root {
        height: 100%
    }
}

.card {
    @apply sm:w-1/2 md:w-2/5 p-6 md:p-10 bg-[#FAF9F6] rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out transform hover:shadow-xl hover:scale-105;
}

