@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AppleGaramond';
    src: url(/AppleGaramond.ttf);
}

@font-face {
    font-family: 'AppleMotter';
    src: url(/MotterTekturaNormal.ttf);
}

@font-face {
    font-family: 'CooperFive';
    src: url(/CooperFiveOpti-Black.otf);
}

@media (min-width: 748px) {
    html, body, #root {
        height: 100%
    }
}
